body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#datGUI {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#webgl {
    border: 1px solid #000;
    height: 540px;
    width: 960px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.draggable {
    align-content: center;
    position: absolute;
    top: 30px;
    left: 30px;
    position: absolute;
    background-color: #757277;
    opacity: 0.8;
    width: 200px;
    height: 500px;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 10;
}

.draggable input.pick-a-color {

    width: 70px;
    margin-right: 10px;
}

#fps {
    text-align: center;
}

.btnmargin {

    width: 180px;
    margin: 5px;
}

#topMenuBar
{
    width : 100%;
    height: 40px;
    background: #808080;
    display: inline-block;
    vertical-align: top;
}

.menuButton
{
    width: 50px;
    height: 30px;
    margin: 5px;
    text-align: center;
    align-content: center;
    float: left;

}

.menuButton:hover
{
    text-decoration: underline;
}

.scancanvas
{
    position:relative;
    background: #ffffff;
    border: solid 1px;
    margin: 30px
}







